/* HEADER */

.header{
    background-color: $colorAzul;
    border: 1px black;
    border-style: ridge;
    margin: 0.313rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/* FOOTER */

.footer{
    clear: both;
    height: fit-content;
    background-color: $colorGris;
}