/* ELEMENTOS HEADER */

.header{
    
    &__titulo{
        display: flex;
        justify-content: left;
        height: fit-content;
        padding: 5px;
        font-size: 40px;

        img{
            height: 200px;
            width: 200px;
            padding-left: 5px;
        }

        img:hover{
            filter: drop-shadow(2px 2px 5px $colorGrisOscuro);
        }

        a{
            text-decoration: none;
            color: whitesmoke;
        }

    }

    .navbar{
        height: fit-content;
        width: 40%;
    }

    .bg-light{
        background-color: $colorAmarillo!important;
    }
    

}

/*ELEMENTOS FOOTER*/

.footer{

    &__tituloBarraClientes{
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-bottom: 0px transparent solid;
        background-color: $colorAzul;
        margin: 0.313rem;
        margin-bottom: 0rem;
        padding: 1.5rem;
        
        h4{
            color: $colorGris;
            padding-top: 1rem;
            letter-spacing: 2px;
        }
    }

    &__barraClientes{
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
        border-top: 0px transparent solid;
        background-color: $colorAzul;
        margin: 0.313rem;
        margin-top: 0rem;
        padding: 0.5rem;

        img{
            height: 7rem;
            width: 8rem;
            padding: 00.5rem;
        }

        img:hover{
            filter: grayscale(50%);
        }
    }
    
    &__barraRedesSociales{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        background-color: #F1F1E6;
        text-align: center;
        border: 1px solid black;
        margin: 0.313rem;
        padding: 0.676rem;
        
        &__logos{
            display: inline;
            margin: 5px;
            padding: 5px;
            overflow:hidden;
    
            img{
                height: 30px;
                width: 30px;
                margin: 3px;
                -webkit-transition:all .9s ease; /* Safari y Chrome */
                -moz-transition:all .9s ease; /* Firefox */
                -o-transition:all .9s ease; /* IE 9 */
                -ms-transition:all .9s ease; /* Opera */
                
            }

            :hover img {
                -webkit-transform:scale(1.20);
                -moz-transform:scale(1.20);
                -ms-transform:scale(1.20);
                -o-transform:scale(1.20);
                transform:scale(1.20);
            }
        }

        &__telefono{
            display: flex;
            flex-direction:column-reverse;
            align-items: center;
            font-weight: bolder;
            letter-spacing: 0.063rem;

            p{
                color: $colorGrisOscuro;
                font-size: 15px;
            }
        }
    }
}