/* ELEMENTOS HEADER */

.header {
    &__titulo {
        display: flex;
        justify-content: left;
        height: fit-content;
        padding: 5px;

        img {
            height: 200px;
            width: 200px;
            margin-left: 10px;
        }

        img:hover {
            filter: drop-shadow(2px 2px 5px black);
        }

        a {
            text-decoration: none;
            color: whitesmoke;
        }
    }

    .navbar {
        height: fit-content;
        width: 40%;
        font-size: 1rem;

        .navbar-brand {
            transition: all 0.5s;
            padding: 3px;
        }

        .navbar-brand:hover {
            border-bottom: 2px solid black;
        }

        .nav-item {
            transition: all 0.8s;
            margin-left: 1px;

            .nav-link {
                transition: all 0.8s;
            }
        }

        .nav-item:hover {
            border-bottom: 0.5px solid black;
        }

        .nav-link:hover {
            border-bottom: 0.5px solid black;
        }
    }

    .bg-light {
        background-color: $colorAmarillo !important;
    }
}

/*ELEMENTOS FOOTER*/

.footer {
    &__tituloBarraClientes {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-bottom: 0px transparent solid;
        background-color: $colorAzul;
        margin: 0.313rem;
        margin-bottom: 0rem;
        padding: 1.5rem;

        h4 {
            color: $colorGris;
            padding-top: 1rem;
            letter-spacing: 2px;
            font-size: 1.3rem;
        }
    }

    &__barraClientes {
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
        border-top: 0px transparent solid;
        background-color: $colorAzul;
        margin: 0.313rem;
        margin-top: 0rem;

        .slide {
            background-color: white;
            margin-right: 2px;
            margin-left: 2px;

            img {
                height: 7rem;
                width: 8rem;
                padding: 00.5rem;
            }

            img:hover {
                filter: grayscale(60%);
            }
        }
    }

    &__barraRedesSociales {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #f1f1e6;
        text-align: center;
        border: 1px solid black;
        margin: 0.313rem;
        padding: 0.676rem;

        &__logos {
            display: inline;
            margin: 5px;
            padding: 5px;
            overflow: hidden;

            img {
                height: 30px;
                width: 30px;
                margin: 3px;
                -webkit-transition: all 0.9s ease; /* Safari y Chrome */
                -moz-transition: all 0.9s ease; /* Firefox */
                -o-transition: all 0.9s ease; /* IE 9 */
                -ms-transition: all 0.9s ease; /* Opera */
            }

            :hover img {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }

        &__fiscal {
            margin: 5px;

            img {
                width: 70px;
                height: 100px;
            }
        }

        &__telefono {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            font-weight: bolder;
            letter-spacing: 0.063rem;

            p {
                color: $colorGrisOscuro;
                font-size: 0.9rem;
            }
        }
    }
}
