* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #B2B1B9 !important;
  height: 100%;
}

/* HEADER */
.header {
  background-color: #2C2E43;
  border: 1px black;
  border-style: ridge;
  margin: 0.313rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* FOOTER */
.footer {
  clear: both;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #B2B1B9;
}

/* CONTENIDO INDEX */
#principal {
  background-color: white;
  padding: 0.625rem;
  border: 1px black;
  border-style: ridge;
  margin: 0.313rem;
}

#principal .principal__contenedorFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#principal .principal__contenedorFlex h2 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 3px;
}

#principal .principal__contenedorFlex__position {
  position: relative;
}

#principal .principal__contenedorFlex__position__texto {
  background-color: #EFC23A;
  height: 15.75rem;
  width: 33rem;
  position: absolute;
  z-index: 2;
  right: 12rem;
  top: 9rem;
  padding: 20px;
  text-align: justify;
  border: 1px solid black;
  border-radius: 10px;
}

#principal .principal__contenedorFlex__position__texto p {
  font-size: 1.1rem;
  text-align: justify;
}

#principal .principal__contenedorFlex__position__carrusel {
  width: 60%;
  z-index: 1;
  margin-left: 5rem;
}

#principal .principal__contenedorFlex__position__carrusel .d-block {
  height: 37rem;
}

/*formulario de contacto*/
.contenedorFormulario {
  margin: 00.313rem;
  background-color: #B2B1B9;
}

.contenedorFormulario form {
  background-color: whitesmoke;
  padding: 0.625rem;
  height: 95%;
  border: 1px black solid;
}

.contenedorFormulario form .fieldsetContacto {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedorFormulario form .fieldsetContacto legend {
  text-align: center;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .tituloInput {
  margin-bottom: 0.625rem;
  width: 100%;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .tituloInput input {
  margin-right: 5rem;
  width: 100%;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .tituloInput textarea {
  width: 100%;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .dondeConocio {
  background-color: whitesmoke;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .dondeConocio h3 {
  margin: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 00.373rem;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .dondeConocio .contenedorCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .dondeConocio .contenedorCheckbox .form-check {
  margin-right: 0.1rem;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .informacionContacto .dondeConocio .contenedorCheckbox .form-check label {
  font-size: 16px;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio .tituloInput {
  margin-bottom: 0.625rem;
  width: 100%;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio .tituloInput input {
  margin-right: 5rem;
  width: 100%;
  font-size: 0.5rem;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio .tituloInput textarea {
  width: 100%;
  font-size: 0.9rem;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio label {
  font-size: 1rem;
  font-weight: bolder;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio .tipoServicio {
  background-color: whitesmoke;
  width: 100%;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio .tipoServicio h3 {
  margin: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 00.373rem;
}

.contenedorFormulario form .fieldsetContacto .contenedorInformacion .flexContainerServicio .tipoServicio select {
  width: 100%;
  font-size: 00.9rem;
}

.contenedorFormulario form .fieldsetContacto .flexContainerBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contenedorFormulario form .fieldsetContacto .flexContainerBotones .botonesFormulario {
  background-color: whitesmoke;
  margin: 15px;
  font-size: 1rem;
  clear: both;
  margin-right: 50px;
}

.contenedorFormulario form .fieldsetContacto .flexContainerBotones .botonesFormulario button {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.313rem;
}

.contenedorFormulario form .fieldsetContacto .flexContainerBotones .botonesFormulario button:hover {
  -webkit-filter: drop-shadow(2px 2px 5px black);
          filter: drop-shadow(2px 2px 5px black);
}

.contenedorFormulario form .fieldsetContacto .flexContainerBotones .botonesFormulario input {
  font-size: 0.9rem;
  padding: 0.625rem;
  margin: 0.313rem;
}

.contenedorFormulario form .fieldsetContacto .flexContainerBotones .botonesFormulario select {
  font-size: 0.9rem;
  padding: 0.625rem;
  margin: 0.313rem;
}

#servicios .servicios__contenedor {
  margin: 10px;
  padding: 1px;
  border: 1px #595260 solid;
}

#servicios .servicios__contenedor__fieldset {
  height: 100%;
  background-color: whitesmoke;
}

#servicios .servicios__contenedor__fieldset legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0.625rem;
  padding: 3px;
}

#servicios .servicios__contenedor__fieldset__tabla {
  background-color: whitesmoke;
  height: 90%;
  border: 1px solid #B2B1B9;
  margin: 1px;
}

#servicios .servicios__contenedor__fieldset__tabla .table {
  height: 100%;
}

#servicios .servicios__contenedor__fieldset__tabla .table td {
  border: 1px solid #B2B1B9;
}

#servicios .servicios__contenedor__fieldset__tabla .table td p {
  font-size: 0.9rem;
}

#servicios .servicios__contenedor__fieldset__tabla .table td ul {
  font-size: 0.9rem;
}

#servicios .servicios__contenedor__fieldset__tabla .table td ol {
  font-size: 0.9rem;
}

#servicios .servicios__contenedor__fieldset__tabla .table th {
  border: 1px solid #B2B1B9;
  text-align: center;
  font-size: 1rem;
}

.quienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quienesSomos__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quienesSomos__flex__contenedorTitulo {
  background-color: #EFC23A;
  border: 1px black solid;
  width: 37.5rem;
  border-radius: 3px;
  margin: 0.373rem;
  padding: 00.373rem;
  font-size: 1.9rem;
}

.quienesSomos__flex__contenedorTexto {
  background-color: #EFC23A;
  border: 1px black solid;
  width: 37.5rem;
  border-radius: 3px;
  margin: 0.373rem;
  padding: 00.373rem;
  font-size: 1.1rem;
  text-align: justify;
}

.quienesSomos__contenedorMapa {
  background-color: #EFC23A;
  border: 1px black solid;
  border-radius: 3px;
  margin: 0.373rem;
  padding: 00.373rem;
}

/* ELEMENTOS HEADER */
.header__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
}

.header__titulo img {
  height: 200px;
  width: 200px;
  margin-left: 10px;
}

.header__titulo img:hover {
  -webkit-filter: drop-shadow(2px 2px 5px black);
          filter: drop-shadow(2px 2px 5px black);
}

.header__titulo a {
  text-decoration: none;
  color: whitesmoke;
}

.header .navbar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 40%;
  font-size: 1rem;
}

.header .navbar .navbar-brand {
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 3px;
}

.header .navbar .navbar-brand:hover {
  border-bottom: 2px solid black;
}

.header .navbar .nav-item {
  -webkit-transition: all .8s;
  transition: all .8s;
  margin-left: 1px;
}

.header .navbar .nav-item .nav-link {
  -webkit-transition: all .8s;
  transition: all .8s;
}

.header .navbar .nav-item:hover {
  border-bottom: 0.5px solid black;
}

.header .navbar .nav-link:hover {
  border-bottom: 0.5px solid black;
}

.header .bg-light {
  background-color: #EFC23A !important;
}

/*ELEMENTOS FOOTER*/
.footer__tituloBarraClientes {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-bottom: 0px transparent solid;
  background-color: #2C2E43;
  margin: 0.313rem;
  margin-bottom: 0rem;
  padding: 1.5rem;
}

.footer__tituloBarraClientes h4 {
  color: #B2B1B9;
  padding-top: 1rem;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.footer__barraClientes {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-top: 0px transparent solid;
  background-color: #2C2E43;
  margin: 0.313rem;
  margin-top: 0rem;
}

.footer__barraClientes .slide {
  background-color: white;
  margin-right: 2px;
  margin-left: 2px;
}

.footer__barraClientes .slide img {
  height: 7rem;
  width: 8rem;
  padding: 00.5rem;
}

.footer__barraClientes .slide img:hover {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.footer__barraRedesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F1E6;
  text-align: center;
  border: 1px solid black;
  margin: 0.313rem;
  padding: 0.676rem;
}

.footer__barraRedesSociales__logos {
  display: inline;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}

.footer__barraRedesSociales__logos img {
  height: 30px;
  width: 30px;
  margin: 3px;
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */
}

.footer__barraRedesSociales__logos :hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer__barraRedesSociales__fiscal {
  margin: 5px;
}

.footer__barraRedesSociales__fiscal img {
  width: 70px;
  height: 100px;
}

.footer__barraRedesSociales__telefono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  letter-spacing: 0.063rem;
}

.footer__barraRedesSociales__telefono p {
  color: #595260;
  font-size: 0.9rem;
}

/* MEDIA QUERIES*/
@media (max-width: 575.98px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__titulo {
    margin: 1px;
  }
  .header .navbar {
    width: 100%;
  }
  /* CONTENIDO PRINCIPAL */
  .principal__contenedorFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .principal__contenedorFlex__position__texto {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    right: auto !important;
    top: auto !important;
  }
  .principal__contenedorFlex__position__carrusel {
    display: none;
  }
  /* QUIENES SOMOS */
  .quienesSomos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quienesSomos__flex {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quienesSomos__flex__contenedorTexto {
    width: auto;
  }
  .quienesSomos__contenedorMapa {
    display: none;
  }
  .quienesSomos__contenedorMapa__mapa {
    display: none;
  }
  /*CONTACTO*/
  .contenedorInformacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorInformacion .informacionContacto {
    width: auto !important;
  }
  .contenedorInformacion .informacionContacto .tituloInput {
    width: 100% !important;
  }
  .contenedorInformacion .informacionContacto .dondeConocio {
    width: 100% !important;
  }
  .contenedorInformacion .informacionContacto .dondeConocio .form-check {
    margin: 2px;
  }
  .contenedorInformacion .flexContainerServicio {
    width: auto !important;
  }
  .contenedorInformacion .flexContainerServicio .tituloInput {
    width: 100% !important;
  }
  .contenedorInformacion .flexContainerServicio .tipoServicio {
    width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__titulo {
    margin: 1px;
  }
  .header .navbar {
    width: 100%;
  }
  /* CONTENIDO PRINCIPAL */
  .principal__contenedorFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .principal__contenedorFlex__position__texto {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    right: auto !important;
    top: auto !important;
  }
  .principal__contenedorFlex__position__carrusel {
    display: none;
  }
  /* QUIENES SOMOS */
  .quienesSomos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quienesSomos__flex {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quienesSomos__flex__contenedorTexto {
    width: auto;
  }
  .quienesSomos__contenedorMapa {
    display: none;
  }
  .quienesSomos__contenedorMapa__mapa {
    display: none;
  }
  /*CONTACTO*/
  .contenedorInformacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorInformacion .informacionContacto {
    width: auto !important;
  }
  .contenedorInformacion .informacionContacto .tituloInput {
    width: 100% !important;
  }
  .contenedorInformacion .informacionContacto .dondeConocio {
    width: 100% !important;
  }
  .contenedorInformacion .informacionContacto .dondeConocio .form-check {
    margin: 2px;
  }
  .contenedorInformacion .flexContainerServicio {
    width: auto !important;
  }
  .contenedorInformacion .flexContainerServicio .tituloInput {
    width: 100% !important;
  }
  .contenedorInformacion .flexContainerServicio .tipoServicio {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__titulo {
    margin: 1px;
  }
  .header .navbar {
    width: 100%;
  }
  /* CONTENIDO PRINCIPAL */
  .principal__contenedorFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .principal__contenedorFlex__position__texto {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    right: auto !important;
    top: auto !important;
  }
  .principal__contenedorFlex__position__carrusel {
    display: none;
  }
  .quienesSomos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quienesSomos__flex {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quienesSomos__flex__contenedorTexto {
    width: auto;
  }
  .quienesSomos__contenedorMapa {
    width: auto;
  }
  /*CONTACTO*/
  .contenedorInformacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorInformacion .informacionContacto {
    width: auto !important;
  }
  .contenedorInformacion .informacionContacto .tituloInput {
    width: 100% !important;
  }
  .contenedorInformacion .informacionContacto .dondeConocio {
    width: 100% !important;
  }
  .contenedorInformacion .informacionContacto .dondeConocio .form-check {
    margin: 2px;
  }
  .contenedorInformacion .flexContainerServicio {
    width: auto !important;
  }
  .contenedorInformacion .flexContainerServicio .tituloInput {
    width: 100% !important;
  }
  .contenedorInformacion .flexContainerServicio .tipoServicio {
    width: 100% !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CONTENIDO PRINCIPAL */
  .principal__contenedorFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .principal__contenedorFlex__position__texto {
    position: relative !important;
    height: auto !important;
    width: 50 !important;
    right: auto !important;
    top: auto !important;
  }
  .principal__contenedorFlex__position__carrusel {
    display: none;
  }
  /*QUIENES SOMOS*/
  .quienesSomos__flex {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quienesSomos__flex__contenedorTexto {
    width: auto;
  }
  __contenedorMapa {
    width: auto;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: #2C2E43;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(#2C2E43), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #2C2E43 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 150px;
  width: 500px;
}

.slider .slide img {
  width: 250px;
}
/*# sourceMappingURL=style.css.map */