.quienesSomos{
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__flex{
        display: flex;
        height: 40rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__contenedorTitulo{
            background-color: $colorAmarillo;
            border: 1px black solid;
            width: 37.5rem;
            border-radius: 3px;
            margin: 0.373rem;
            padding: 00.373rem;
            font-size: 1.9rem;
        }

        &__contenedorTexto{
            background-color: $colorAmarillo;
            border: 1px black solid;
            width: 37.5rem;
            border-radius: 3px;
            margin: 0.373rem;
            padding: 00.373rem;;
            font-size: 1.1rem;
            text-align: justify;
        }
    }

    &__contenedorMapa{
        background-color: $colorAmarillo;
        border: 1px black solid;
        border-radius: 3px;
        margin: 0.373rem;
        padding: 00.373rem;

    }

}