#servicios{

    .servicios__contenedor{
        height: 35rem;   
        margin: 10px;
        padding: 1px;
        border: 1px $colorGrisOscuro solid;

        &__fieldset{
            height: 100%;
            background-color: whitesmoke;

            legend{
                font-size: 24px;
                font-weight: bold;
                margin-left: 0.625rem;
                padding: 3px;
            }

            &__tabla{
                background-color: whitesmoke;
                height: 90%;
                border: 1px solid $colorGris;
                margin: 1px;

                .table{
                    height: 100%;
                    
                    td{
                        border: 1px solid $colorGris;

                        p{
                            position: relative;
                            top: 35%;
                        }

                        ul{
                            position: relative;
                            top: 25%;
                        }

                        ol{
                            position: relative;
                            top: 20%;
                        }
                    }

                    th{
                        border: 1px solid $colorGris;
                        text-align: center;
                    }
                }
            }
        }
    }
}