#servicios {
    .servicios__contenedor {
        margin: 10px;
        padding: 1px;
        border: 1px $colorGrisOscuro solid;

        &__fieldset {
            height: 100%;
            background-color: whitesmoke;

            legend {
                font-size: 1.3rem;
                font-weight: bold;
                margin-top: 0.5rem;
                padding: 3px;
                text-align: center;
            }

            &__tabla {
                background-color: whitesmoke;
                height: 90%;
                border: 1px solid $colorGris;
                margin: 1px;

                .table {
                    height: 100%;

                    td {
                        border: 1px solid $colorGris;

                        p {
                            font-size: 0.9rem;
                        }

                        ul {
                            font-size: 0.9rem;
                        }

                        ol {
                            font-size: 0.9rem;
                        }
                    }

                    th {
                        border: 1px solid $colorGris;
                        text-align: center;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
